body {
    font-family: sans-serif;
}
header{color: gold;
font-size: 98px;
text-decoration:none;
margin: 34px;}
nav{text-decoration: none;}
main a{text-decoration: none;
color: limegreen;}
header a{color: rgb(26, 230, 53);}
h1 i{color: darkorchid;}
header{background-color: slategray;
padding: 34px
px;}header img{
border: 43px solid steelblue}
 .icon{border: 45px solid tomato;
width:67px;
height: 45px;}
header a{text-decoration: none;}
header a{border: 12px solid orange;
border-radius: 12px;
height: 1px;
width: 12px;}
footer{border: 34px solid springgreen;
background-color: forestgreen;}
main{background-color: yellow;
}
main img{border: 3px solid floralwhite;
border-radius: 12px;
background-color: blue;}
footer a{border: 2px solid rgb(37, 150, 65) ;}h2 p{border: 3px solid green;}
main h2{border: 34px solid rebeccapurple;
border-radius: 45px;
background-color: yellowgreen;}
main p{color: orangered;}
.oi{border:  32px solid turquoise;
border-radius: 11px;
background-color: chartreuse;
height: 23px;}
.op{border: 21px solid fuchsia;
border-radius: 43px;
background-color: firebrick;}
footer p{color:rgb(216, 64, 25);}
